#covers
  - albums.each do |album, art|
    - if art != "missing"
      #cover
        %a{:href => "/play/#{CGI.escape(artist)}/#{album}", :class => "cover"}
          %img{:src => "#{art}", :width => '300px', :height => '300px', :style => "z-index:100"}
          %span{:style => "z-index:200"}
            %center
              =album
  - albums.each do |album, art|
    - if art == "missing"
      #nocovers
        %a{:href => "/play/#{CGI.escape(artist)}/#{album}"}
        %img{:src => "/images/nocover.png", :width => '300px', :height => '300px', :class => "cover"}
          %h3
            =album